{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">

<body>
	
	<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					
					<div class="blog-post single-post">
						{% if object.image.url %}
						<img src="{{ object.image.url }}" alt="">
						{% endif %}
						<div class="post-date">{{object.created}}</div>
						<h3>{{object.title}}</h3>
						<div class="post-metas">
							<div class="post-meta">By {{object.author}}</div>
							<div class="post-meta">in <a href="#">{{object.category}}</a></div>
							<div class="post-meta">3 Comments</div>
						</div>
						<p>{{ object.description }}</p>
						

					</div>
			
				</div>
				<div class="col-lg-4 sidebar">
					<div class="sb-widget">
						<form class="sb-search">
							<input type="text" placeholder="Search">
						</form>
					</div>
					
					<div class="sb-widget">
						<a href="#" class="add">
							<img src="img/add-2.jpg" alt="">
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- Blog section end -->

	
	</body>
</html>
{% endblock %}